<div class="proyectos container main-container vh-100">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-6">
            <div class="image-container">
              <img src="../assets/Proyec1.jpeg" class="d-block w-100" alt="Proyecto 1">
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <div class="content p-5 rounded">
              <h1 class="mb-5">Proyecto 1</h1>
              <div class="texto text-end">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <h3 class="text-end">Utilizado:</h3>
              <div class="skills-icons text-end">
                <div class="skill-circle"><img src="../assets/html.png" alt="HTML"></div>
                <div class="skill-circle"><img src="../assets/css.png" alt="CSS"></div>
                <div class="skill-circle"><img src="../assets/js.png" alt="JavaScript"></div>
                <div class="skill-circle"><img src="../assets/angular.svg" alt="Angular"></div>
                <div class="skill-circle"><img src="../assets/java.png" alt="Java"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6">
            <div class="image-container">
              <img src="../assets/Proyect2.jpg" class="d-block w-100" alt="Proyecto 2">
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <div class="content p-5 rounded">
              <h1 class="mb-5">Proyecto 2</h1>
              <div class="texto text-end">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <h3 class="text-end">Utilizado:</h3>
              <div class="skills-icons text-end">
                <div class="skill-circle"><img src="../assets/html.png" alt="HTML"></div>
                <div class="skill-circle"><img src="../assets/css.png" alt="CSS"></div>
                <div class="skill-circle"><img src="../assets/js.png" alt="JavaScript"></div>
                <div class="skill-circle"><img src="../assets/angular.svg" alt="Angular"></div>
                <div class="skill-circle"><img src="../assets/java.png" alt="Bootstrap"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6">
            <div class="image-container">
              <img src="../assets/Proyect3.jpg" class="d-block w-100" alt="Proyecto 3">
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <div class="content p-5 rounded">
              <h1 class="mb-5">Proyecto 3</h1>
              <div class="texto text-end">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <h3 class="text-end">Utilizado:</h3>
              <div class="skills-icons text-end">
                <div class="skill-circle"><img src="../assets/html.png" alt="HTML"></div>
                <div class="skill-circle"><img src="../assets/css.png" alt="CSS"></div>
                <div class="skill-circle"><img src="../assets/js.png" alt="JavaScript"></div>
                <div class="skill-circle"><img src="../assets/angular.svg" alt="Angular"></div>
                <div class="skill-circle"><img src="../assets/java.png" alt="Java"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</div>
