.skill-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* Tamaño del círculo */
  height: 50px;
  border-radius: 50%; /* Forma de círculo */
  background-color: #f0f0f0; /* Color de fondo del círculo */
  overflow: hidden;
  margin-right: 10px; /* Espacio entre los círculos */
}

.skill-circle img {
  max-width: 80%; /* Ajustar el tamaño máximo del logo dentro del círculo */
  height: auto;
}
