<div class="container main-container vh-100">
    <app-header></app-header>
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="content p-5 rounded">
          <h1 class="mb-6">Evelyn Rodriguez</h1>
          <div class="texto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
          </div>
          <button class="btn btn-light rounded-4 shadow-sm see-my-work-btn">
            See my work
          </button>
        </div>
      </div>
      <div class="col">
        <div class="image-container">
          <img src="../assets/foto.png" class="principal">
        </div>
      </div>
    </div>
  </div>
  