<div class="container main-container vh-100">
  <div class="row">
    <div class="col-md-6">
      <div class="image-container">
        <img src="../assets/estudios.png" class="estudiosimg">
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <div class="content p-5 rounded">
        <h1 class="mb-5">Estudios</h1>
        <div class="texto text-end">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <h3 class="text-end">Habilidades (Skills)</h3>
        <div class="skills-icons text-end">
          <div class="skill-circle"><img src="../assets/html.png" alt="HTML"></div>
          <div class="skill-circle"><img src="../assets/css.png" alt="CSS"></div>
          <div class="skill-circle"><img src="../assets/js.png" alt="JavaScript"></div>
          <div class="skill-circle"><img src="../assets/angular.svg" alt="Angular"></div>
          <div class="skill-circle"><img src="../assets/java.png" alt="Bootstrap"></div>
        </div>
      </div>
    </div>
  </div>
</div>
