.skills-icons {
  display: flex;
  justify-content: flex-end; /* Alinear las imágenes a la derecha */
}

.skill-circle {
  width: 80px; /* Tamaño del círculo */
  height: 80px;
  border-radius: 50%; /* Forma de círculo */
  background-color: white; /* Color de fondo del círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Espacio entre los círculos */
}

.skill-circle img {
  max-width: 60px; /* Tamaño máximo de la imagen dentro del círculo */
  max-height: 60px;
}
