<div class="container main-container">
    <div class="row">
      <!-- Columna de Imagen (opcional) -->
      <div class="col-md-6">
        <div class="image-container">
          <img src="../assets/estudios.png" class="img-fluid rounded">
        </div>
      </div>
      <!-- Columna de Texto -->
      <div class="col-md-6 d-flex align-items-center">
        <div class="content p-5 rounded">
          <h1 class="mb-5">Estudios</h1>
          <div class="texto text-end">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <h3 class="text-end">Habilidades (Skills)</h3>
          <ul class="text-end">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>Bootstrap</li>
          </ul>
        </div>
      </div>
    </div>
  </div>